[alias]
	co = checkout
[core]
	autocrlf = false
	autoclrf = false
	eol = lf
[push]
	default = simple
[user]
	email = d.gieselaar@gmail.com
	name = Dario Gieselaar
[credential]
	helper = cache --timeout=604800
